.estilo
    border-bottom: 1px solid #d6d6d6 !important


.componente1
    width: 32% !important
    border: 1px solid #a0a0a0  !important
    float: left !important
    -webkit-box-shadow: 5px 4px 15px 5px rgba(0,0,0,0.63)
    box-shadow: 5px 4px 15px 5px rgb(167 167 167 / 63%)
    height: 100vh !important
    overflow: scroll



